@import "~@/sass/base";

.c-blockquote {
    position: relative;

    &:before, &:after {
        content: "";
        background-image: url(assets/icons/quote-icon.svg);
        position: absolute;
        width: 106px;
        height: 90px;
        opacity: .9;
        z-index: -1;
    }

    &:before {
        top: 0;
        left: 0;
    }

    &:after {
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
    }
}
