@import "~@/sass/base";

.c-testimonial {
    background: #EFEFF0;
    padding: rem-calc(45) 0;
    position: relative;
    z-index: 0;

    &__image {
    }

    &__image-placeholder {
        padding-bottom: aspect-ratio(10, 9);
    }

    &__content {
        align-self: center;
        letter-spacing: .5px;
    }
}

@include media-breakpoint-down(sm) {
    .c-testimonial {
        &__image {
            margin-bottom: rem-calc(24);
        }
    }
}