@import "~@/sass/base";

.c-hero-full {
    $this: &;

    position: relative;
    min-height: 300px;
    display: flex;
    overflow: hidden;

    &:before {
        height: 300px;
        content: '';
        display: block;
    }

    &__media {
        display: block;
        width: 100%;
        border: none;
        padding: 0;
    }

    &__content-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__kicker {
        position: relative;
        background: $white;
        padding: rem-calc(10) rem-calc(15);
        color: $black;
        z-index: 1;
    }

    &__heading {
        margin-bottom: rem-calc(45);
    }

    &__link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    button.c-hero-full__link {
        background: none;
        padding: 0;
        border: none;
        width: 90px;
        height: 90px;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-left: -45px;
        margin-top: -45px;
    }

    &__content {
        text-align: center;
        width: 100%;
        padding-top: rem-calc(60);
        position: relative;
    }

    &__social {
        margin-bottom: rem-calc(20);
        display: inline-block;
        position: relative;
        z-index: 1;
    }

    &--no-label {
        #{$this}__content-container:before {
            content: '';
        }
    }

    &--inline {
        min-height: 0 !important;

        &:before {
            height: auto !important;
        }

        #{$this}__media img {
            width: 100%;
        }
    }

    &--scaled {
        min-height: auto !important;

        .h-placeholder-image img {
            position: static;
        }

        &:before {
            height: auto !important;
        }
    }

    &.c-promo__border {
        padding: 0;
    }
}

@include media-breakpoint-up(sm) {
    .c-hero-full {
        min-height: 400px;

        &:before {
            height: 400px;
        }

        button.c-hero-full__link {
            width: 150px;
            height: 150px;
            margin-left: -75px;
            margin-top: -75px;
        }

        &__heading {
            margin-bottom: rem-calc(65);
        }
    }
}

@include media-breakpoint-up(md) {
    .c-hero-full {
        min-height: 500px;

        &:before {
            height: 500px;
        }

        &__kicker {
            padding: rem-calc(14) rem-calc(20);
        }
    }
}
