.h-video-play {
    position: relative;
    cursor: pointer;

    &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        background-image: url('assets/large-white-play-button.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &--small:after {
        background-image: url('assets/play-button.svg');
    }
}