<header class="l-header">
    <div class="container-fluid">
        <div class="l-header__inner">
            <div class="c-logo">
                <a class="c-logo__link" href="/">
                    <img class="c-logo__img" src="assets/xc-logo-dark.png" alt="XCentium Logo">
                </a>
            </div>

            <div class="c-prime-nav__wrapper">
                <nav class="c-prime-nav" id="prime-nav">
                    <ul class="c-prime-nav__list">
                        <li class="c-prime-nav__item">
                            <button class="c-prime-nav__link h-hover-line">Work</button>

                            <div class="c-mega-nav">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="c-mega-nav__section col-xs-12 col-sm-4">
                                            <!-- style="background-image: url(https://s5.postimg.org/igv945nl3/technology_photo.png)" -->
                                            <div class="technology-nav">
                                                <div class="c-mega-nav__section-header h-hover-line" id="technology">Technology</div>

                                                <ul class="c-mega-nav__list" aria-labelledby="technology">
                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" href="#">CMS</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" href="#">Commerce</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" href="#">Managed Services</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" href="#">XDB</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" href="#">Business Intelligence</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-4" style="background-image: url(https://s5.postimg.org/6rr9g7z7b/creative.png)">
                                            <div class="creative-nav">
                                                <div class="c-mega-nav__section-header h-hover-line" id="creative">Creative</div>

                                                <ul class="c-mega-nav__list">
                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="creative" href="#">Content Strategy</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="creative" href="#">UX / Usability</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="creative" href="#">Visual Design</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="creative" href="#">Branding</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-4" style="background-image: url(https://s5.postimg.org/uvi14mck7/image.png)">
                                            <div class="rd-nav">
                                                <div class="c-mega-nav__section-header h-hover-line" id="rd">R & D</div>

                                                <ul class="c-mega-nav__list">
                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="rd" href="#">Vault</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="rd" href="#">Gigya Connector</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="rd" href="#">Xcore</a>
                                                    </li>

                                                    <li class="c-mega-nav__item">
                                                        <a class="c-mega-nav__link h-hover-line" aria-describedby="rd" href="#">Xblog</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__close">
                                        <button class="c-mega-nav__close-button" aria-label="Close Menu">X</button>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="c-prime-nav__item">
                            <button class="c-prime-nav__link h-hover-line">Insights</button>

                            <div class="c-mega-nav container-fluid" style="display: none">
                                <div class="row">
                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-4" style="background-image: url(https://s5.postimg.org/md8l0at6v/focus.png)">
                                        <div class="focus-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="focus-areas">Focus Areas</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link js-focus h-hover-line" aria-describedby="focus-areas" href="#">Financial</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" href="#" aria-describedby="focus-areas">Health / Pharma</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" href="#" aria-describedby="focus-areas">Commerce</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-4" style="background-image: url(https://s5.postimg.org/z4mr6tq47/casestudies.png)">
                                        <div class="focus-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="case-studies">Case Studies</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="case-studies" href="#">Nerium Commerce</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="case-studies" href="#">Global Biotech</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="case-studies" href="#">Ayn Rand Institute</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-4" style="background-image: url(https://s5.postimg.org/qz4p8pjvr/blog.png)">
                                        <div class="focus-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="blog">Blog</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="blog" href="#">Nerium Commerce</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="blog" href="#">Global Biotech</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="blog" href="#">Ayn Rand Institute</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="c-mega-nav__close">
                                    <button class="c-mega-nav__close-button" data-nav-close type="button" aria-label="Close Menu">X</button>
                                </div>

                            </div>
                        </li>

                        <li class="c-prime-nav__item">
                            <button class="c-prime-nav__link h-hover-line">About</button>

                            <div class="c-mega-nav container-fluid" style="display: none">
                                <div class="row">
                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-3" style="background-image: url(https://s5.postimg.org/s1evr9puf/partners.png)">
                                        <div class="technology-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="partners">Partners</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link js-focus h-hover-line" aria-describedby="partners" href="#">Sitecore</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="partners" href="#">Insite</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="partners" href="#">Salesforce</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="partners" href="#">Sitefinity</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="partners" href="#">Cloudcraze</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-3" style="background-image: url(https://s5.postimg.org/4zyaliarb/clients.png)">
                                        <div class="creative-nav">
                                            <div lass="c-mega-nav__section-header h-hover-line" id="clients">Clents</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="clients" href="#">Lorem</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="clients" href="#">Ipsum</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-3" style="background-image: url(https://s5.postimg.org/9930np15z/history.png)">
                                        <div class="rd-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="company-history">Company History</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="company-history" href="#">Leadership</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="company-history" href="#">Awards</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="company-history" href="#">Locations</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <div class="c-mega-nav__section h-hide-bg@xs col-xs-12 col-sm-3" style="background-image: url(https://s5.postimg.org/vl0th37zr/policies.png)">
                                        <div class="creative-nav">
                                            <div class="c-mega-nav__section-header h-hover-line" id="policies">Policies</div>

                                            <ul class="c-mega-nav__list">
                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="policies" href="#">Lorem</a>
                                                </li>

                                                <li class="c-mega-nav__item">
                                                    <a class="c-mega-nav__link h-hover-line" aria-describedby="policies" href="#">Ipsum</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="c-mega-nav__close">
                                    <button class="c-mega-nav__close-button" data-nav-close type="button" aria-label="Close Menu">X</button>
                                </div>
                            </div>
                        </li>

                        <li class="c-prime-nav__item">
                            <a class="c-prime-nav__link h-hover-line" href="#">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>

            <nav class="c-icon-nav">
                <ul class="c-icon-nav__list">
                    <li class="c-icon-nav__item">
                        <a class="c-icon-nav__link" title="" href="#" aria-label="Email XCentium">
                            <span class="fa fa-envelope-o"></span>
                        </a>
                    </li>

                    <li class="c-icon-nav__item">
                        <a class="c-icon-nav__link" title="" href="#" aria-label="Search">
                            <img src="assets/glyphs/search.svg" alt>
                        </a>
                    </li>

                    <li class="c-icon-nav__item hidden-sm hidden-md hidden-lg">
                        <div class="navbar-header">
                            <button type="button" class="c-prime-nav-toggle navbar-toggle" data-toggle="collapse" data-target="#prime-nav">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="c-prime-nav-toggle__line icon-bar"></span>
                                <span class="c-prime-nav-toggle__line icon-bar"></span>
                                <span class="c-prime-nav-toggle__line icon-bar"></span>
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
