<div class="l-promo">
    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?1'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
        </div>
    </a>

    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?2'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Law School Raises the Bar: Boosts engagement and enrollment with new Sitecore website.</h2>
        </div>
    </a>

    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?3'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Law School Raises the Bar: Boosts engagement and enrollment with new Sitecore website.</h2>
        </div>
    </a>

    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?4'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Morrison Supply Solution Sets New Industry Standard</h2>
        </div>
    </a>

    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?5'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Law School Raises the Bar: Boosts engagement and enrollment with new Sitecore website.</h2>
        </div>
    </a>

    <a href="#" class="c-promo">
        <div class="c-promo__media h-placeholder-image h-placeholder-image--1-1">
            <img src="assets/images/placeholder.gif" v-lazy-img="'//placeimg.com/1200/600/any?6'" alt="" />
        </div>

        <span class="h-mask is-dark"></span>

        <div class="c-promo__content">
            <h2 class="c-promo__heading h3">Law School Raises the Bar: Boosts engagement and enrollment with new Sitecore website.</h2>
        </div>
    </a>
</div>
