<div class="c-testimonial">
    <div class="c-testimonial__container container container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="c-testimonial__image">
                    <div class="c-testimonial__image-placeholder h-placeholder-image">
                        <img src="assets/images/placeholder.gif" v-lazy-img="'//placehold.it/300x300/ddd/ccc?text=FPO'" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 d-flex">
                <div class="c-testimonial__content">
                    <blockquote class="c-blockquote">
                        <h2 class="h3 sr-only">Nancy Williams</h2>
                        <p>"Fusce pulvinar facilisis nisi, id imperdiet ipsum volutpat dapibus. Donec at felis a arcu ultricies dignissim. Sed tincidunt libero ac eleifend consequat. Mauris massa lectus, euismod at rutrum sed, pellentesque eget lectus. Etiam faucibus dui ut nibh dapibus suscipit. Nullam lacus tellus, varius vitae sapien sagittis, sodales blandit risus. Praesent dignissim sit amet sem eu efficitur. Curabitur eu arcu aliquet, ultricies libero nec, elementum justo."</p>
                    </blockquote>

                    <a href="#" class="c-cta c-cta--arrow h-theme--aqua-alt">Read Her Story</a>
                </div>
            </div>
        </div>
    </div>
</div>