@import "~src/sass/base";

.l-alert-list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item {
        &:last-child {
            margin-bottom: -5px;
            border-bottom: 5px solid #444;
        }
    }

    & + * {
        border-radius: 8px;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, .3);
        background: $white;
    }
}

.c-alert {
    background: linear-gradient(#656565, #444);
    color: $white;
    padding: rem-calc(10) 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__kicker {
        display: none;
        padding: 10px 20px 10px 0;
        border-right: 1px solid white;
        margin-right: 20px;
    }

    &__content {
        font-size: rem-calc(12, 14);
        display: inline-block;
        color: $white;

        &:hover, &:active, &:focus {
            color: $white;
        }
    }

    &__cta {
        display: none;
        color: $red;
    }

    &__close {
        border-radius: 30px;
        font-size: 22px;
        padding: 0;
        width: 40px;
        height: 40px;
        margin-left: 30px;
    }
}

@include media-breakpoint-down(sm) {
    .c-alert {
        &__close {
            font-size: 50px;
            font-weight: 300;
            background: none;
            border: none;
            line-height: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@include media-breakpoint-up(md) {
    .c-alert {
        padding: rem-calc(30) 0;

        &__kicker {
            display: inline-block;
        }

        &__cta {
            display: inline-block;
        }

        &__close {
            &:focus, &:active:focus {
                box-shadow: $btn-box-shadow, 0 0 0 $btn-focus-width rgba($gray-100, .5) !important;
            }
        }
    }
}