@import "~src/sass/base";

.c-article-card {
    $this: &;

    position: relative;
    margin-bottom: rem-calc(25);

    &-list {
        position: relative;
        margin: 0;
        padding: 0;

        & > li {
            list-style-type: none
        }

        & > li:last-child > article:after {
            display: none;
        }

        &:before {
            content: '';
            border-left: 2px solid $gray-border;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
        }
    }

    &__label {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__actions {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        padding: rem-calc(15);

        & > * {
            line-height: 1;
            margin-left: rem-calc(10);
            font-size: rem-calc(24);
        }
    }

    &__background {
        display: block;
        width: 100%;
        border: none;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }

    &__video-overlay {
        background: rgba($white, .6);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: all .3s $swift-ease-in-out-timing-function;
    }

    &--video {
        #{$this}__play {
            display: flex;
            background: $white;
            padding: rem-calc(8) rem-calc(20) rem-calc(7);
            border-radius: 20px;
            font-weight: 600;
            text-transform: uppercase;

            img {
                margin-right: 8px;
            }
        }

        #{$this}__video-meta {
            color: $white;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            height: 75px;
            align-items: center;
            padding: 25px 20px 0 20px;
            transition: all .3s $swift-ease-in-out-timing-function;

            @include scrim-gradient(rgba(0, 0, 0, 0.1), 'to top');
        }

        #{$this}__video-time {

        }

        #{$this}__background {
            cursor: pointer;
            padding: 0;

            &:hover, &:focus {
                #{$this}__video-overlay {
                    opacity: 1;
                }

                #{$this}__video-meta {
                    opacity: 0;
                }
            }
        }
    }

    &--large {
        #{$this}__content {
            position: absolute;
            bottom: 0;
            padding: rem-calc(50);
        }

        #{$this}__metadata {
            color: $white;
            margin-bottom: rem-calc(12);
        }

        #{$this}__title {
            line-height: 1.5;
            max-width: 75%;
        }

        #{$this}__link {
            color: $white;
        }

        #{$this}__subtitle {
            color: $white;
            max-width: 60%;
        }
    }

    &--small {
        #{$this}__background {
            margin-bottom: rem-calc(12);
        }

        #{$this}__metadata {
            color: #737373;
        }

        #{$this}__title {
            line-height: 1.5;
            margin-bottom: rem-calc(6);
        }

        #{$this}__link {
            color: inherit;
        }
    }

    &--x-small {
        margin-bottom: 0;
        padding-bottom: rem-calc(30);

        #{$this}__content {
            padding: rem-calc(5) 0 rem-calc(5) rem-calc(24);
            border-left: 2px solid $gray-700;
        }

        #{$this}__sub-heading {
            padding: rem-calc(5) 0 rem-calc(5) rem-calc(24);
            border-left: 2px solid transparent;
            font-weight: 600;
        }

        #{$this}__title {
            line-height: 1.5;
            margin: 0;
        }

        #{$this}__link {
            color: $black;
        }

        #{$this}__metadata {
            color: #737373;
        }

        &:before {
            content: '';
            border-left: 2px solid $gray-border;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
        }

        .is-active {
            border-left-color: $red;

            a {
                color: $red;
            }
        }
    }

    &--listing {
        #{$this}__background {
            margin-bottom: rem-calc(12);
        }

        #{$this}__metadata {
            background: $gray-200;
            padding: rem-calc(14);
            font-size: $font-size-base;
        }

        #{$this}__title {
            line-height: 1.5;
            margin-bottom: rem-calc(6);
        }

        #{$this}__date {
            margin-bottom: rem-calc(10);
        }

        #{$this}__link {
            color: $black;
        }
    }
}

@include media-breakpoint-up(md) {
    .c-article-card {
        $this: &;

        &:not(#{$this}--x-small) {
            margin-bottom: rem-calc(40);
        }
    }
}
