@import "~src/sass/base";

.c-card {
    $this: &;

    display: block;
    background: $gray-100;
    margin-bottom: rem-calc(40);

    &__content {
        padding: rem-calc(30);
    }

    &__heading {
        line-height: 1.5;
        margin-bottom: rem-calc(0);
        color: inherit;
    }

    &__label {
        position: absolute;
        z-index: 1;
        text-transform: uppercase;
    }

    &__metadata {
        text-transform: uppercase;
        margin-bottom: rem-calc(5);
        margin-top: rem-calc(20);
        font-weight: 500;
    }

    &__actions {
        text-transform: uppercase;

        & > * {
            display: block;
            margin-top: rem-calc(20);
        }

        .c-cta {
            display: inline-block;
        }
    }
}

@include media-breakpoint-up(md) {
    .c-card {
        $this: &;

        &--horizontal {
            #{$this}__background {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 15px;
                right: 15px;
                padding: 0;
            }
        
            #{$this}__content {
                padding: rem-calc(60) rem-calc(150) rem-calc(60) 0;
            }
        }

        &--recipe {
            #{$this}__content {
                padding: rem-calc(60) rem-calc(30) rem-calc(60) 0;
            }
        }
    }
}