.c-document-repository {
    background-color: #364048;

    &__wrap {
        padding: 2rem 0;
    }
    
    &__heading {
        color: #fff;
        font-size: 1.6rem;
        margin: 1rem 0; 
    }

    &__description {
        color: #fff;
        margin: 1rem 0;
    }
}

@media (min-width: 768px) {
    .c-document-repository {
        &__heading {
            font-size: 2rem;
        }
    }
}