.c-leader-list {
    text-align: center;

    &__heading {
        font-size: 2rem;
        margin: 2rem 1rem 1rem;
        line-height: 2rem
    }

    &__btn {
        background: transparent;
        border: 0 solid transparent;
        padding: 1rem;
        font-size: 1rem;
        cursor: pointer;
        color: #a30046;

        &.active {
            display: none;
        }
    }

    &__icon {
        margin-left: .2rem;
    }
}

@media (min-width: 768px) {
    .c-leader-list {
        &__heading {
            font-size: 3rem;
            margin: 2rem 0 3rem 0;
        }
    }
}