@import "~src/sass/base";

.c-snapshot-item {
    flex: 1;
    text-align: center;

    &__heading {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
        margin: .5rem 0;
    }

    &__description {
        font-size: 1rem;
        margin: .5rem 0;
    }

    &__img-wrap {
        margin: 1.5rem auto;
        width: 125px;
        border-radius: 100%;
    }

    &__img {
        width: 100%;
        border-radius: 100%;
    }

    &__mailto {
        font-family: 'Roboto', sans-serif;
        font-size: .8rem;
        color: #a30046;
        margin: .5rem 0;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}