@import "~src/sass/base";

.c-snapshot-item {
    text-align: center;

    &__heading {
        font-size: 18px;
    }

    &__description {
        font-size: 18px;
    }

    &__mailto {
        color: #a30046;
        
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}