.c-updates {
    background-color: #3f4b55;
    color: #fff;

    &__wrap {
        padding: 2rem 0;
    }
    
    &__heading {
        display: inline-block;
        color: #fff; 
        font-size: 1.6rem;
        margin: 1rem 0; 
    }

    &__link {
        color: #fff;

        &--view-all {
            float: right;
            font-size: .8rem;
            margin: 1.7rem 0;
        }
    }

    &__icon {
        margin: 0 .2rem;
    }

    &__item {
        display: flex;
        clear: both;
        margin: 1.5rem;
    }

    &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border-right: 1px solid #fff;
        padding-right: 1.2rem;
    }

    &__day {
        font-size: 1.6rem;
    }

    &__month-year {
        font-size: .8rem;
        font-weight: normal;
    }

    &__description {
        display: flex;
        align-items: center;
        flex: 1;
        padding-left: 1.2rem;
    }

    &__txt {
        margin: 0;
    }
}

@media (min-width: 768px) {
    .c-updates {
        &__heading {
            font-size: 2rem;
        }

        &__link {
            margin: 2rem 0;
        }
    }
}