// Customized BootStrap styling
@import "base";
@import "bootstrap/bootstrap";

// xc Styling
@import "utilities/utilities";
@import "overrides/overrides";
@import "layouts/layouts";
@import "components/components";

[role="button"], button {
    cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
    transition: all .3s $swift-ease-in-out-timing-function;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fade-enter-to {
    opacity: 1;
}

.c-skip-to:focus,
.c-skip-to:active {
    position: static;
    width: auto;
    height: auto;
    clip: unset;
    clip-path: none;
    background: $gray-100;
    padding: rem-calc(10) rem-calc(20);
    display: block;
}
